* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/street-2805643_1920.jpg);
  color: white;
}
.logo {
  font-size: 30px;
}
.logo span {
  color: orangered;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  height: 70px;
}
.nav ul > li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}
.nav ul > li > a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.nav ul > li > a:hover {
  color: orangered;
}
.content {
  position: relative;
  top: 50%;
  transform: translatey(-50);
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
}
.nav button {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: orangered;
  color: white;
}
.nav button:hover {
  transform: scale(1.3);
  transition: 0.5s;
  cursor: pointer;
}
